<!DOCTYPE html>
<html lang="NO">

<head>
    <meta charset="UTF-8" />
    <title>Ettersending av vedlegg - {{#capitalize søknadstype}}{{/capitalize}}</title>
    <meta name="subject" content="Ettersending av vedlegg" />
    <meta name="author" content="nav.no" />
    <meta name="description"
          content="Ettersending av vedlegg mottatt {{soknad_mottatt_dag}} {{ soknad_mottatt }}" />
    <bookmarks>
        <bookmark name="Søker" href="#søker" />
        <bookmark name="Ettersending" href="#ettersending" />
        <bookmark name="Dokumenter" href="#dokumenter" />
        <bookmark name="Samtykke" href="#samtykke" />
    </bookmarks>
    {{#block 'style-common' }}
    {{/block}}
</head>

<body>
    <h1 id="header"> Ettersending av vedlegg - {{#capitalize søknadstype}}{{/capitalize}}</h1>
    <p class="nokkelinfo">
        <strong>Sendt til NAV</strong>
        {{soknad_mottatt_dag}} {{ soknad_mottatt }}
    </p>

    <div class="innholdscontainer">
        <div class="person" id="søker">
            <p class="navn">{{søker.navn}}</p>
            <p>{{søker.fødselsnummer}} <br/> </p>
        </div>
    </div>

    <!-- Ettersending -->
    <section id="ettersending">
        {{#if beskrivelse}}
        <h2>Ettersending av vedlegg</h2>
            <p class="sporsmalstekst">Søkers beskrivelse av ettersendingen:</p>
            <p class="fritekst_testarea">{{beskrivelse}}</p>
        {{/if}}
    </section>

    <!-- Dokumenter -->
    <section id="dokumenter">
        <h2>Dokumenter som er vedlagt</h2>
        <ul>
            {{#each titler.vedlegg as |vedlegg|}}
                <li>
                    <p>{{vedlegg.tittel}}</p>
                </li>
            {{/each}}
        </ul>
    </section>

    <!-- SAMTYKKE -->
    <section id="samtykke">
        <h2>Samtykke fra deg</h2>
        <p class="sporsmalstekst">Har du forstått rettigheter og plikter?</p>
        <p>{{ jaNeiSvar samtykke.harForståttRettigheterOgPlikter }}</p>
        <hr />
        <p class="sporsmalstekst">Har du bekreftet at opplysninger som er gitt er riktige?</p>
        <p>{{ jaNeiSvar samtykke.harBekreftetOpplysninger }}</p>
    </section>

    <!-- FOOTER -->
    {{> partial/footerPartial søknadId=soknad_id gitSha=soknadDialogCommitSha}}
</body>

</html>
